<main>
    <app-aside></app-aside>
    <section>
        <form action="#">
            <fieldset>
                <legend>Identity info's</legend>
                <div class="form-container">
                    <div class="item">
                        <label for="civility">Civility</label>
                        <select id="civility" name="civility" required>
                            <option value="mister">Mr.</option>
                            <option value="madame">Ms.</option>
                            <option value="miss">Miss.</option>
                        </select>
                    </div>
                    <div class="item">
                        <label for="name">Name</label>
                        <input id="name" type="text" name="name" required>
                    </div>
                    <div class="item">
                        <label for="fname">Firstname</label>
                        <input id="fname" type="text" name="fname" required>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Contact</legend>
                <div class="form-container">
                    <div class="item">
                        <label for="snum">Street number</label>
                        <input id="snum" type="text" name="snum" required>
                    </div>
                    <div class="item">
                        <label for="sname">Street name</label>
                        <input id="sname" type="text" name="sname" required>
                    </div>
                    <div class="item">
                        <label for="pcode">Postal code</label>
                        <input id="pcode" type="text" name="pcode" required>
                    </div>
                    <div class="item">
                        <label for="city">City</label>
                        <input id="city" type="text" name="city" required>
                    </div>
                    <div class="item">
                        <label for="phone">Phone</label>
                        <input id="phone" type="tel" name="phone" required>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Account info's</legend>
                <div class="form-container">
                    <div class="item">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" required>
                    </div>
                    <div class="item">
                        <label for="password">Password</label>
                        <input id="password" type="password" name="password" required>
                    </div>
                    <div class="item">
                        <label for="pconfirmation">Password confirmation</label>
                        <input id="pconfirmation" type="password" name="pconfirmation" required>
                    </div>
                </div>
            </fieldset>
            <button type="submit">Send</button>
        </form>
    </section>
</main>