<main>
    <app-aside *ngIf="display"
        [Civility]="civility"
        [Name]="name"
        [Fname]="fname"
        [Snum]="snum"
        [Sname]="sname"
        [Pcode]="pcode"
        [City]="city"
        [Phone]="phone"
        [Email]="email"
        [Password]="password"
        [Pconfirmation]="pconfirmation"
    ></app-aside>
    <section>
        <form #accountForm="ngForm" (ngSubmit)="onSubmit(accountForm)">
            <fieldset>
                <legend>Identity info's</legend>
                <div class="form-container">
                    <div class="item">
                        <label for="civility" appAlert>Civility</label>
                        <select #formCivility="ngModel" id="civility" [(ngModel)]="civility" name="civility" required>
                            <option value="mister">Mr.</option>
                            <option value="madame">Ms.</option>
                            <option value="miss">Miss.</option>
                        </select>
                        <div *ngIf="formCivility.touched && formCivility.invalid" class="alert">Civility is required.</div>
                    </div>
                    <div class="item">
                        <label for="name" appAlert>Name</label>
                        <input #formName="ngModel" [(ngModel)]="name" type="text" name="name" required>
                        <div *ngIf="formName.touched && formName.invalid" class="alert">Name is required.</div>
                    </div>
                    <div class="item">
                        <label for="fname" appAlert>Firstname</label>
                        <input #formFname="ngModel" id="fname" [(ngModel)]="fname" type="text" name="fname" required>
                        <div *ngIf="formFname.touched && formFname.invalid" class="alert">Firstname is required.</div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Contact</legend>
                <div class="form-container">
                    <div class="item">
                        <label for="snum" appAlert>Street number</label>
                        <input #formSnum="ngModel" id="snum" [(ngModel)]="snum" type="text" name="snum" required>
                        <div *ngIf="formSnum.touched && formSnum.invalid" class="alert">Street number is required.</div>
                    </div>
                    <div class="item">
                        <label for="sname" appAlert>Street name</label>
                        <input #formSname="ngModel" id="sname" [(ngModel)]="sname" type="text" name="sname" required>
                        <div *ngIf="formSname.touched && formSname.invalid" class="alert">Street name is required.</div>
                    </div>
                    <div class="item">
                        <label for="pcode" appAlert>Postal code</label>
                        <input #formPcode="ngModel" id="pcode" [(ngModel)]="pcode" type="text" name="pcode" required>
                        <div *ngIf="formPcode.touched && formPcode.invalid" class="alert">Postal code is required.</div>
                    </div>
                    <div class="item">
                        <label for="city" appAlert>City</label>
                        <input #formCity="ngModel" id="city" [(ngModel)]="city" type="text" name="city" required>
                        <div *ngIf="formCity.touched && formCity.invalid" class="alert">City name is required.</div>
                    </div>
                    <div class="item">
                        <label for="phone" appAlert>Phone</label>
                        <input #formPhone="ngModel" id="phone" [(ngModel)]="phone" type="tel" name="phone" required>
                        <div *ngIf="formPhone.touched && formPhone.invalid" class="alert">Phone number is required.</div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Account info's</legend>
                <div class="form-container">
                    <div class="item">
                        <label for="email" appAlert>Email</label>
                        <input #formEmail="ngModel" id="email" [(ngModel)]="email" type="email" name="email" required>
                        <div *ngIf="formEmail.touched && formEmail.invalid" class="alert">Email is required.</div>
                    </div>
                    <div class="item">
                        <label for="password" appAlert>Password</label>
                        <input #formPassword="ngModel" id="password" [(ngModel)]="password" type="password" name="password" required>
                        <div *ngIf="formPassword.touched && formPassword.invalid" class="alert">Password is required.</div>
                    </div>
                    <div class="item">
                        <label for="pconfirmation" appAlert>Password confirmation</label>
                        <input #formPconfirmation="ngModel" id="pconfirmation" [(ngModel)]="pconfirmation" type="password" name="pconfirmation" required>
                        <div *ngIf="formPconfirmation.touched && formPconfirmation.invalid" class="alert">Password confirmation is required.</div>
                    </div>
                </div>
            </fieldset>
            <button type="submit" [disabled]="!accountForm.form.valid">Send</button>
        </form>
    </section>
</main>