@import "../../vars";

main {
    display: flex;
    flex-direction: row;
    aside {
        height: calc(100vh - 4.75rem - 5rem);
    }
    section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: inherit;
        width: -webkit-fill-available;
        width: -moz-available;
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 0.1rem solid $color-white;
            fieldset {
                margin: 1rem;
                border-radius: 0.1rem;
                min-width: 30rem;
                legend {
                    border: 0.1rem solid $color-white;
                    border-radius: 0.1rem;
                    color: $color-white;
                    font-family: 'ubuntu-regular';
                    font-size: 1rem;
                    padding: 0.25rem 0.5rem;
                    margin: 0 0.5rem;
                }
                .form-container {
                    margin: 1rem;
                    .item {
                        display: flex;
                        flex-direction: column;
                        margin: 0.5rem;
                        label {
                            color: $color-white;
                            font-family: 'ubuntu-light';
                            margin-bottom: 0.2rem;
                        }
                        select, input {
                            border: 0.1rem solid $color-white;
                            color: $color-white;
                            background-color: $color-black;
                            width: inherit;
                        }
                    }
                }
            }
            button {
                margin: 1rem;
                padding: 0.25rem 1rem;
                width: -webkit-fill-available;
                width: -moz-available;
                font-family: 'ubuntu-bold';
                color: $color-white;
                border: 0.1rem solid $color-white;
                &:hover {
                    border: 0.1rem solid $color-green;
                    color: $color-green;
                }
            }
        }
    }
}