/* You can add global styles to this file, and also import other style files */

@import "vars";

* {
    margin: 0;
    padding: 0;
    background-color: $color_black;
    color: $color_white;
    list-style: none;
    text-decoration: none;
    font-family: 'ubuntu-regular';
}